# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Uploaded files
uploads/

# ChromaDB
chroma_db/

# Generated results
results/

# Dataset ZIP files
*.zip

# OS files
.DS_Store
Thumbs.db

# Large Kaggle datasets
data/archive/*.csv